<div class="about-content">
<h1>About</h1>
<br>
<p>This is a Node/Express app for quickly scheduling your activities to get it done in future.</p>
&copy; 2018 | Created by <a href="https://www.linkedin.com/in/purveshmakode24/" target="_blank"><em>Purvesh Makode</em></a>
</div>

